@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --clr-primary: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 27%);
    --clr-secondary: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-500: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-base: 'Montserrat', sans-serif;
    --ff-accent: 'Fraunces', serif;

    --fw-regular: 500;
    --fw-bold: 900;
}


/*
    1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3{
    line-height: 2rem;
}

/* general styling */

body {
    background-color: var(--clr-secondary);
    color: var(--clr-neutral-500);
    font-size: 0.875rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);


    display: grid;
    place-content: center;
    margin: 1rem;
}

/* utilities */
.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* button */
.button {
    cursor: pointer;
    text-decoration: none;
    display: inline-flex;
    gap: 0.75rem;
    justify-content: center;
    align-content: center;

    border: 0;
    border-radius: 0.5rem;
    padding: 0.75em 1.5em;
    color:var(--clr-neutral-100);
    background-color: var(--clr-primary);
    font-size: 0.825rem;
    font-weight: var(--fw-bold);
}

.button:is(:hover, :focus) {
    background-color: var(--clr-primary-500);
}

.button[data-icon="shopping-cart"]::before {
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
}

/* product styles */
.product{
    --content-padding: 1.5rem;
    --content-spacing: 1rem;

    display: grid;
    background-color: var(--clr-neutral-100);
    border-radius: 0.5rem;
    overflow: hidden;
    max-width: 600px;
}

@media (min-width:600px) {
    .product{
        --content-padding:2rem;
        grid-template-columns: 1fr 1fr;
    }
}

.product__info{
    display: grid;
    gap:var(--content-spacing);
    padding: var(--content-padding);
}

.product__type{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 0.8125rem;
}

.product__title{
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-900);
    font-size: 2rem;
}

.product__price{
    font-family: var(--ff-accent);
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
    font-size: 2rem;
}
/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', sans-serif;
}

p{
    color: hsl(228, 12%, 48%);
}

.container{
    height: 100vh;
    width: 100vw;
    position: relative;
}

.product{
    width: 88vw;
    height: 100vh;
    margin: 0 auto;
}   

.product-image img{
    width: 100%;
    object-fit: contain;
    border-radius: 0.65rem 0.65rem 0 0;
    margin-top: 2rem;
}

.product-info{
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 0 0.65rem 0.65rem;
}

.product-type{
    letter-spacing: 3px;
    font-size: 1rem;
    text-transform: uppercase;
}
.product-heading{
    font-family: 'Fraunces', serif;
    line-height: 2.3rem;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0.8rem 0;
}
.product-title{
    line-height: 1.5rem;
    padding-bottom: 0.6rem;
}
.product-price{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.8rem 0;
}

.product-price>span{
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin-right: 1rem;
}

button{
    display:flex;
    justify-content: center;
    align-content: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%); 
    border: 0;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    opacity: 0.8;
}

button:hover{
    opacity: 1;
}

button span{
    padding-left: 10px;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (min-width:400px) {
    html,body{
        font-size: 12.5px;
    }

    .product{
        position: absolute;
        left: 0;
        right: 0;
        top:50%;
        transform: translateY(-50%);
        display: flex;
        width: 45rem;
        height: 62vh;    
    }

    .product-image img{
        width:100%;
        display: block;
        max-height: 66.8vh; 
        min-width: 200px;
        border-radius: 0.65rem  0 0 0.65rem;
        margin: 0;
    }

    .product-info{
        padding: 4%;
        width: 50%;
        min-width: 200px;
        border-radius: 0 0.65rem 0.65rem 0;
    }

    .product-heading{
        line-height: 2.5rem;
        font-size: 2.5rem;
        padding: 1.2rem 0 1.2rem 0;
    }

    .product-title{
        line-height: 1.8rem;
        font-size: 1.1rem;
        padding: 0.5rem 0 0.5rem 0;
    }
} */
